body,
html {
    padding: 20px;
    margin: 0;
    background-color: #fff0f0;
    overflow-x: hidden;

}

/* TYPOGRAPHY */
h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

p {
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    font-weight: bold;
}

h1,
.haveFun {
    font-family: 'MedievalSharp', cursive;
    font-size: 3em;
    text-align: center;
}

/* Main Section */
/* BACKGROUND IMAGE */

.introImage {
    background: url(https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80) center 65% no-repeat fixed;
    object-fit: cover;
    position: relative;
    width: 100vw;
    height: 50vh;
    color: rgb(242, 244, 247);
    text-shadow: 5px 5px 5px rgb(78, 38, 1);
    z-index: 3;
}

/* OPACITY */
.introOpacity {
    background: rgba(20,20,20, 0.3);
    margin: auto;
    height: 100%;
}

/* INTRODUCTION AND FORM SECTION */
.colPadding {
    padding: 40px;
    
}

#introWords {
    background-color: rgb(249, 242, 250);
    border-right: 1px #ccc dashed;
    border-width: 3px;
}

#holidayForm {
    background-color: white;
    text-align: center;
}

/* DISPLAY AREA */
.centerDisplay {
    margin: 100px auto 0;
    text-align: center;
}

.selectedFlag {
    width: 150px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.statementDisplay {
    margin-bottom: 50px;
    display: inline-block;
    margin-left: 20px;
    
}
.allCardDisplayArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 18rem;
    margin: 10px;

}